<nav class="navbar" id="nav">
  <div class="logo__container">
    <h1 class="logo">Logo</h1>
    <div class="menu-btn" id="menuBtn">
      <div class="menu-btn__burguer"></div>
    </div>
  </div>
    <a href="/" class="hidden" id="navItem">Home</a>
    <a href="/escalatunegocio" class="hidden" id="navItem">Escala tu negocio</a>
    <a href="/resenas" class="hidden" id="navItem">Reseñas</a>
    <a href="/contacto" class="hidden" id="navItem">Contacto</a>
</nav>
      
